<h2 class="text-center sr-only">Eventos</h2>
<%= form_with(url: "/events", method: "get", local: true, skip_enforcing_utf8: true, class: "form-inline") do %>
  <%= label_tag("from", "Desde", class: "sr-only mr-2 mb-3") %>
  <input class="form-control mr-2 mb-3" 
         id="from" 
         name="from" 
         data-provide="datepicker-inline" 
         data-date-format="yyyy-mm-dd" 
         data-date-language="<%= I18n.locale %>"
         value="<%= @from.iso8601 %>">
  <%= submit_tag(t(:filter), name: nil, class:"btn btn-primary mb-3") %>
<% end %>
<% if @events.empty? %>
  <div class="alert alert-light" role="alert">
    <%= t(:no_events_to_show) %>
</div>
<% end %>
<div class="card-columns">
  <% @events.each do |event| %>
    <div class="card">
      <div class="card-body">
        <div class="card border-0">
          <div class="row">
            <div class="col-auto text-center">
              <p class="my-0 text-uppercase"><%= t('date.abbr_month_names')[8] %></p>
              <p class="my-0 display-4"><%= event.time.day %></p>
            </div>
            <div class="col-md-8">
              <h5 class="card-title my-0">
                <%= link_to event.title, event_path(event), class: 'text-dark' %>
              </h5>
              <p class="card-text">
                <small class="text-muted">
                  <%if !event.place.nil? %><%= event.place %><br><% end %>
                  <%= event.time.to_s(:time) %>
                </small></p>
            </div>
          </div>
        </div>
        <p class="card-text"><%= event.description %></p>
        <%= link_to t(:see_detail), event_path(event), class: 'card-link' %>
      </div>
    </div>
  <% end %>
</div>
