<h2><%= @event.title %></h2>
<ul class="list-unstyled">
  <% if !@event.place.nil? %>
    <li><small><span class="text-uppercase"><%= t :where %></span>: <%= @event.place %> (<%= @event.place.address %>)</small></li>
  <% end %>
  <li><small><span class="text-uppercase"><%= t :when %></span>: <%= I18n.localize @event.time, format: :short %></small></li>
</ul>
<% if @event.content.present? %>
  <div class="lead">
    <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(@event.content).html_safe %>
  </div>
<% end %>
